@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #0011a8;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto;
}

h1 {
    color: #0011a8;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

#searchInput {
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    border: 2px solid #0011a8;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#searchInput:focus {
    border-color: #2e43fa;
    box-shadow: 0 0 10px rgba(46, 67, 250, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 1rem;
}

th {
    background-color: #0011a8;
    color: #ffffff;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: rgba(0, 17, 168, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.button {
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    background-color: transparent;
    color: #0011a8;
    border: 2px solid currentColor;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(46, 67, 250, 0.3);
}

.button:hover {
    background-color: #2e43fa;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(46, 67, 250, 0.5);
    transform: translateY(-3px);
}

.button:active {
    transform: translateY(1px);
}
